{% load static from staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Admin</title>
    <style media="screen">
      .charts img{
        height:35px;
      }
      .charts a{
        color:white;
      }

      .charts a:hover{
        color:#dc3545;
        text-decoration:none;
      }
      .chart img{
        height:35px;
      }
      .chart a{
        color:white;
      }

      .chart a:hover{
        color:#ffc107;
        text-decoration:none;
      }

      .database{
        font-size:20.5px;
      }
    </style>
  </head>
  <body class="container bg-dark">

    <section>
      <div class="row">
        <div class="col-md-12 text-light container database" style="font-family: 'Abel', sans-serif; padding:5%;">
          <h1>Admin Dashboard</h1>
        </div>
          <div class="col-md-5">
            <div class="col-md-12 border border-primary rounded text-light container database" style="font-family: 'Abel', sans-serif; padding:5%;">
              <h3><strong><i class="fas fa-database"> </i> Database</strong></h3>
              <hr style="background-color:#007bff">
              <div class="" style="padding-left:7.5%;">
                <a href="/user_table/">User Tables</a>
              </div>
              <div class="" style="padding-left:7.5%;">
                <a href="/worker_table/">Coordinator tables</a>
              </div>
              <div class="" style="padding-left:7.5%;">
                <a href="/garbage_table/">Garbage problems</a>
              </div>
              <div class="" style="padding-left:7.5%;">
                <a href="/civil_table/">Civil problems</a>
              </div>
              <div class="" style="padding-left:7.5%;">
                <a href="/all_problem_table/">Problem reported history</a>
              </div>
              <div class="" style="padding-left:7.5%;">
                <a href="/completed_table/">Work completion report table</a>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="col-md-12 border border-danger rounded text-light container-fluid" style="font-family: 'Abel', sans-serif; padding:2%;">
              <h5><strong><i class="fas fa-chart-pie"> </i> Statistics</strong></h5>
              <hr style="background-color:#dc3545;">
              <div class="row col-md-12 charts" style="text-align:center;">
                <div class="col-md-4 charts">
                  <a href="/problem"><img src="{%static 'pie-chart.png' %}" alt=""><br>
                  Problems</a>
                </div>
                <div class="col-md-4">
                  <a href="/complete_incomplete"><img src="{%static 'bars-chart.png' %}" alt=""><br>
                  Solved vs Pending</a>
                </div>
                <div class="col-md-4">
                  <a href="/monthly_summary"><img src="{%static 'line-graph.png' %}" alt=""><br>
                  Monthy graph</a>
                </div>
              </div>
            </div>
            <div class="col-md-12 border border-warning rounded text-light container-fluid" style="font-family: 'Abel', sans-serif; padding:2%;margin-top:1%;">
              <h5><strong><i class="fas fa-user-cog"> </i> Manage Users</strong></h5>
              <hr style="background-color:#ffc107;">
              <div class="row col-md-12 chart" style="text-align:center;">
                <div class="col-md-3 chart">
                  <a href="/edit"><img src="{%static 'management.png' %}" alt=""><br>
                  Edit User info</a>
                </div>
                <div class="col-md-3">
                  <a href="/block"><img src="{%static 'user.png' %}" alt=""><br>
                  Block Users</a>
                </div>
                <div class="col-md-3">
                  <a href="/rem"><img src="{%static 'remove-friend.png' %}" alt=""><br>
                  Remove users</a>
                </div>
                <div class="col-md-3">
                  <a href="/unblock"><img src="{%static 'remove-friend.png' %}" alt=""><br>
                  Unblock users</a>
                </div>
              </div>
            </div>
          </div>
      </div>
    </section>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
