{% load static from staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style media="screen">
      form input{
        background: transparent;
      }
      form div{
        background: transparent;
      }
      .heading{
        font-family: 'Rajdhani', sans-serif;
        color:#8347f7;
        font-size: 25px;
        margin-bottom: 12%;
      }
      .btn{
        background-color:#8347f7;
        border: 1px solid #8347f7;;
      }
    </style>
    <title>Admin Login</title>
  </head>
  <body class="bg-white">
    <div class="col-md-12 " >

      <form class="form-group w-25 mx-auto bg-white rounded shadow"method="POST" action="/adminlogg/" style="margin-top:10%; padding:2%;">
        {% csrf_token %}
        <div class="col-xs-18" style="text-align:center; padding-bottom:6%;">

          <img src="{% static 'm.png'%}" style="height:80px;"alt=""/><br>
          <strong class="heading">Smart Maintenance</strong>
        </div>
        <div class="form-group ">
          <input required=true type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" placeholder="Enter email">
        </div>
        <div class="form-group">

          <input required=true type="password" class="form-control" id="pass" name="pass" placeholder="Password">
        </div>
        <input value="Login" type="submit" class="btn btn-primary btn-block" style="margin-top:8%;">
      </form>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
