{% load static from staticfiles %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>worker_home</title>
    <style media="screen">
      body{
        font-family: 'Rajdhani', sans-serif;
      }
      .card-text{
        text-align: justify;
        font-size: 15px;
      }
      .btn3{
        color:white;
      }
      .heading{
        font-family: 'Rajdhani', sans-serif;
        color:#8347f7;
        font-size: 18px;
        margin-bottom: 1%;
      }
      .logout{
        border: none;
        background: transparent;
        float: left;
      }
    </style>
  </head>
  <body class="bg-dark">
    <div class="container col-xs-18 bg-dark" style="text-align:center;">
      <div class="col-xs-18" style="padding-top:2%;">
        <div class="col-xs-6">
          <a role="button" href="/logout/" class="logout"><img src="{% static 'log-out.png' %}" alt="logout" style="height:20px;"></button>
        </div>
        <div class="col-xs-6" style="text-align:right;">
          <a href="/pro/" style="color:#0cabcf; font-family: 'Rajdhani', sans-serif; padding-right:2%;"><img src="{% static 'man-user.png' %}" alt="logout" style="height:18px; padding-right:2%;">{{ name }}</a>
        </div>
        <div class="col-xs-6" style="text-align:center;">
          <img src="{% static 'm.png'%}" style="height:35px; "alt="">
          <p class="heading">Smart maintenance</p>
        </div>
      </div>


      {% for i in problems %}
      <div class="card border-primary mb-3" style="max-width: 100%;background: transparent;">
        <div class="card-header" style="background: transparent;"><img style="width:100%;"src="/{{ i.image }}"></img></div>
        <div class="card-body text-primary" style="background: transparent;">
          <h5 class="card-title">Description</h5>
          <p class="card-text">{{ i.description }}</p>
          <hr><h5 class="card-title">Location <i class="fas fa-map-marked-alt"></i></h5>
          <p class="card-text">{{ i.location }}</p>
          <a href="/handle/{{ i.problem_id }}" role="button" class="btn btn3">Handle</a>
          <a href="/wrong_domain/{{ i.problem_id }}" role="button" class="btn btn3">Wrong Domain</a>
        </div>
      </div>
      {% endfor %}


    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
