<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Worker registration</title>
  </head>
  <body>
    {% load static from staticfiles %}
    <!doctype html>
    <html lang="en">
      <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link href="https://fonts.googleapis.com/css?family=Rajdhani" rel="stylesheet">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <style media="screen">
          form input{
            background: transparent;
          }
          form div{
            background: transparent;
          }
          .heading{
            font-family: 'Rajdhani', sans-serif;
            color:#8347f7;
            font-size: 25px;
            margin-bottom: 12%;
          }
        </style>
        <title>User Registration</title>
      </head>
      <body class="bg-dark">


        <div class="login container-fluid col-xs-18">
    			<!-- Modal -->
                <div class="col-xs-18" style="text-align:center;">

                  <img src="{% static 'm.png'%}" style="height:80px; margin-top:10%; margin-bottom:5%;"alt="">
                  <p class="heading">Smart Maintenance</p>
                  <p class="lead text-light" style="margin-top:-4%;">Registration</p>
                </div>

    							<form  signin_form method="post" action="/student_register/">
                    {% csrf_token %}
                    <div class="form-group" style="background:transparent;" style="background:transparent;">
                        <input required="true" style="background:transparent; border:1px solid #007bff; color:white; font-size:15px;" type="text" class="form-control" name="first_name" id="fname" aria-describedby="First_Name" placeholder="First Name" style="background:transparent;">
                      </div>
                      <div class="form-group" style="background:transparent;">
                        <input required="true" style="background:transparent; border:1px solid #007bff; color:white; font-size:15px;" type="text" class="form-control" name="last_name" id="lname" aria-describedby="Last_Name" placeholder="Last Name">
                      </div>
                      <div class="form-group">
                          <label for="domain">Domain </label><br>
                          <input required="true" type="radio" name="domain" value="Garbage" checked>Garbage
                          <input required="true" type="radio" name="domain" value="Civil">Civil
                      </div>

                    <div class="form-group" style="background:transparent;">
                        <input required="true" style="background:transparent; border:1px solid #007bff; color:white; font-size:15px;" type="email" class="form-control" name="email" id="signin_email" aria-describedby="emailHelp" placeholder="Email">
                    </div>
                    <div class="form-group" style="background:transparent;">
                        <input required="true" style="background:transparent; border:1px solid #007bff; color:white; font-size:15px;" type="password" class="form-control" name="password" id="signin_pass" placeholder="Password">
                    </div>

                    <div class="form-group" style="padding-bottom:1%;padding-top:9%;">
                        <input required="true"  type="submit" id="buttons" name="register" class="btn btn-primary btn-block " value="Register">
                    </div>
                  </form>



						</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
